{% extends "base.html" %}

{% block title %}
    Django App
{% endblock %}

{% block content %}
    <h1 class="bg-blue-900 text-4xl text-center mb-5  pt-2 pb-4 font-semibold">
        Welcome to Product Hub
    </h1>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-5 lg:max-w-5xl px-10">
        {% for product in products %}
            <div class = "w-70 border-white bg-blue-900 my-4 p-4 rounded-2xl flex flex-col justify-between">
                <img src="{{product.image.url}}" alt="" class="h-60 rounded-xl">
                <h3 class="text-2xl text-center mt-2"> {{ product.name }} </h3>
                <h3 class="text-lg text-center mt-2"> Price: {{ product.price }} $ </h3>
                <a href="{% url "product_details" product.id %}">
                    <button type="button" class="bg-cyan-600 w-full pb-2 pt-1 text-xl rounded-md mt-2 cursor-pointer hover:bg-cyan-700">
                        Buy
                    </button>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}